<header><img src="https://d3j0t7vrtr92dk.cloudfront.net/monoceptlearn/1618560985_monocept-logo-orange.png?"></header>
<!-- 
<div class="container">

  <h3>customer</h3><button><a routerLink="/login">Logout</a></button>

  <ul>
    <li><a routerLink="/customer">Home</a></li>
    <li>
      <a routerLink="/customer">customer Services <span class="caret"></span></a>
      <ul>
        <li><a routerLink="/customerSummary">Customers summary</a></li>
        <li><a routerLink="/updateCProfile">Update Profile</a></li>
        <li><a routerLink="/addPayee">Add Payee</a></li>
      </ul>
    </li>
    <li>
      <a routerLink="/customer">Transactions <span class="caret"></span></a>
      <ul>
        <li><a [routerLink]="['/payeeList',24]">sendToPayee</a></li>
        <!-- [routerLink]="['/customerTransaction',customer.customerId]" -->
<!-- </ul>
    </li>
  </ul>
</div> -->
<!-- <footer>
  <div>© Copyright Monocept- 2021 | All Rights Reserved </div>
</footer> -->


<!DOCTYPE html>
<html lang="en">

<head>
  <title>Customer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js">

</head>

<body style="background-color:rgb(208, 238, 138);" id="content-wrap">
  <!-- <img src="https://d3j0t7vrtr92dk.cloudfront.net/monoceptlearn/1618560985_monocept-logo-orange.png?"> -->
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- <div class="navbar-header"> -->
      <a class="navbar-brand" (click)="logoutHandler()">Logout</a>
      <!-- </div> -->
      <ul class="nav navbar-nav">
        <li class="active"><a routerLink="/customer">Home</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Services
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a style="margin: 10px; font-size: large;" routerLink="/customerSummary">Account Summary</a></li>
            <li><a style="margin: 10px; font-size: large;" routerLink="/updateCProfile">Update Profile</a></li>
            <li><a style="margin: 10px; font-size: large;" routerLink="/addPayee">Add Payee</a></li>
          </ul>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Transaction
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a style="margin: 10px; font-size: large;" [routerLink]="['/payeeList',24]">Send Payee</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>

  <div class="card" style="width: 50rem; align-content: center;">
    <!-- <img src="" class="card-img-top" alt="..."> -->
    <div class="card-body">
      <b>
        <h5 class="card-title">Customer Name : {{customer.customerName}}</h5>
      </b>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Customer Email : {{customer.customerEmail}}</li>
        <li class="list-group-item">Customer Username : {{customer.customerUserName}}</li>
        <li class="list-group-item">Customer Account balance : {{customer.account}}</li>
      </ul>
    </div>
  </div>

</body>
<footer id="footer">
  <div>© Copyright Monocept- 2021 | All Rights Reserved </div>
</footer>

</html>


<!-- 
<form #postData="ngForm" (ngSubmit)="addPayeeHandler(postData.value)">
  customerId : <input type="text" name="cid" ngModel><br>
  payeeName : <input type="text" name="pname" ngModel><br>
  payeeAccountNumber : <input type="text" name="pacc" ngModel><br>
  <button class="btn btn-primary">Add PAyee</button>
</form> -->