<p>customer works!</p>
<p>customer works!</p>

<div class="container">

  <h3>customer</h3>

  <ul>
    <li><a routerLink="/customer">Home</a></li>
    <li>
      <a routerLink="/customer">customer Services <span class="caret"></span></a>
      <ul>
        <li><a routerLink="/customerSummary">Customers summary</a></li>
        <li><a routerLink="/updateCProfile">Update Profile</a></li>
        <li><a routerLink="/addPayee">Add Payee</a></li>
      </ul>
    </li>
    <li>
      <a routerLink="/customer">Transactions <span class="caret"></span></a>
      <ul>
        <li><a routerLink="/sendToPayee">sendToPayee</a></li>
      </ul>
    </li>
  </ul>
</div>

<!-- 
<form #postData="ngForm" (ngSubmit)="addPayeeHandler(postData.value)">
  customerId : <input type="text" name="cid" ngModel><br>
  payeeName : <input type="text" name="pname" ngModel><br>
  payeeAccountNumber : <input type="text" name="pacc" ngModel><br>
  <button class="btn btn-primary">Add PAyee</button>
</form> -->