<!-- <p>add-payee works!</p>
<div class="container">
  <h1>Add Payee</h1>
  <form #postData="ngForm" (ngSubmit)="addPayeeHandler(postData.value)">
    customerId <input type="number" name="cid" ngModel><br>
    Payee Name : <input type="text" name="name" ngModel><br>
    Payee Account Number : <input type="number" name="accountNumber" ngModel><br>
    <button class="btn btn-primary">Add Payee</button>
  </form>
</div> -->
<header><img src="https://d3j0t7vrtr92dk.cloudfront.net/monoceptlearn/1618560985_monocept-logo-orange.png?"></header>

<!DOCTYPE html>
<html lang="en" style="background-color:powderblue;">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add Payee</title>
  <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <!-- <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
  <!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'> -->
</head>

<body style="background-color:rgb(208, 238, 138);" id="content-wrap">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <!-- <a class="navbar-brand" (click)="logoutHandler()">Logout</a> -->
      </div>
      <ul class="nav navbar-nav">
        <li><a routerLink="/customer">Home</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Services
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a style="margin: 10px; font-size: large;" routerLink="/customerSummary">Account Summary</a></li>
            <li><a style="margin: 10px; font-size: large;" routerLink="/updateCProfile">Update Profile</a></li>
            <li><a style="margin: 10px; font-size: large;" routerLink="/addPayee">Add Payee</a></li>
          </ul>
        </li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Transaction
            <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a style="margin: 10px; font-size: large;" [routerLink]="['/payeeList',24]">Send Payee</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>



  <!-- <label>Password</label>
            <input type="password"  required #name="ngModel" placeholder="Enter Password" name="password"  ngModel>
     
   required #password="ngModel"
            <span *ngIf="name.invalid && name.touched" style="color: red;">Please enter password</span><br>
      
      [disabled]="postData.invalid" -->

  <button><a routerLink="/customer">Back</a></button>
  <div class="container-fluid">

    <form  class="formAddPayee" #postData="ngForm" (ngSubmit)="addPayeeHandler(postData.value)">
      <div class="note">
        <h2 style="color: sienna;">Add Payee Details</h2>
      </div>
      <div class="row">
        <!-- <div class="col-md-4 col-sm-4 col-lg-4">
          <label for="PayeeId">customer ID</label>
          <input name="cid" ngModel class="form-control" type="text">
        </div> -->
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4 col-lg-4">
          <label for="PayeeName">Payee Name</label>
          <input type="text" class="form-control" required #payeeName="ngModel" placeholder="Enter Payee Name" name="payeeName" ngModel>
          <span *ngIf="payeeName!.invalid && payeeName!.touched" style="color: red;">Please enter payee name</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4 col-lg-4">
          <label for="PayeeAccountNumber">Payee Account Number</label>
          <input type="text" class="form-control" required #payeeAccNo="ngModel" placeholder="Enter Account Number" name="payeeAccNo" ngModel>
          <span *ngIf="payeeAccNo!.invalid && payeeAccNo!.touched" style="color: red;">Please enter payee Account number</span>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
          <button class="btn btn-default regbutton" [disabled]="postData.invalid">Submit</button>

        </div>
        
      </div>
    </form>

  </div>
  <footer>
    <div>© Copyright Monocept- 2021 | All Rights Reserved </div>
  </footer>
</body>

</html>

<!-- 
<div>
  <h1>Add Payee</h1>
  <form #postData="ngForm" (ngSubmit)="addPayeeHandler(postData.value)">
    Payee Name : <input type="text" name="name" ngModel><br>
    Payee Account Number : <input type="text" name="accountNumber" ngModel><br>
    <button class="btn btn-primary">Add</button>
  </form>
</div> -->