<header><img src="https://d3j0t7vrtr92dk.cloudfront.net/monoceptlearn/1618560985_monocept-logo-orange.png?"></header>
<div class="container">
    <h3>employee - Dashboard</h3><button><a routerLink="/login">Logout</a></button>
    <ul>
        <li><a routerLink="/employee">Home</a></li>
        <li>
            <a routerLink="/employee">Employee Services <span class="caret"></span></a>
            <ul>
                <li><a routerLink="/customerList">Customers List</a></li>
                <li><a routerLink="/registerCustomer">Register Customer</a></li>
                <li><a routerLink="/updateEProfile">Update Profile</a></li>
            </ul>
        </li>
    </ul>

    <h2>Welcome employee to bank , use the above links for various functionalities</h2>
</div>

<footer>
    <div>© Copyright Monocept- 2021 | All Rights Reserved </div>
</footer>