<div class="container">

    <h3>Employee</h3>

    <ul>
        <li><a routerLink="/employee">Home</a></li>
        <li>
            <a routerLink="/employee">Employee Services <span class="caret"></span></a>
            <ul>
                <li><a routerLink="/customerList">Customers List</a></li>
                <li><a routerLink="/registerCustomer">Register Customer</a></li>
                <li><a routerLink="/updateEProfile">Update Profile</a></li>
                <li><a routerLink="/changeAccountStatus">Change Account status</a></li>
            </ul>
        </li>
        <li>
            <a routerLink="/employee">Transactions <span class="caret"></span></a>
                <ul>
                    <li><a routerLink="/deposit">Deposit</a></li>
                    <li><a routerLink="/withdraw">Withdraw</a></li>
                </ul>
        </li>
    </ul>
</div>