<!DOCTYPE html>
<html>

<head>
    <title> Login Form</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        #main {
            display: flex;
            justify-content: center;
        }
    </style>
</head>

<body>

    <div id="main">
        <div class="login-content">
            <form #postData="ngForm" (ngSubmit)="loginHandler(postData.value)">
                <img src="assets/avatar.svg">
                <h2 class="title">Welcome</h2>
                <div class="input-div one">
                    <div class="div">
                        <h5>Username</h5>
                        <input type="text" class="input" ngModel name="customerUserName">
                    </div>
                </div>
                <div class="input-div pass">
                    <div class="div">
                        <h5>Password</h5>
                        <input type="password" class="input" ngModel name="customerPassword">
                    </div>
                </div>
                <a href="#">Forgot Password?</a>
                <br>
                <!-- <input type="submit" class="btn" style="margin: 10px; font-size: large;" value="Employee Login"> -->
                <input type="submit" class="btn" style="margin: 10px; font-size: large;" value=" Login">
            </form>
        </div>
    </div>
</body>

</html>
<!-- 
<div class="container">
    <h1 style="grid-template-columns: auto;">Login</h1>
    <form #postData="ngForm" (ngSubmit)="loginHandler(postData.value)">
        Username : <input type="text" name="customerUserName" ngModel><br>
        Password : <input type="text" name="customerPassword" ngModel><br>
        <button class="btn btn-primary">Customer Login</button>

    </form>
</div> -->