<header><img src="https://d3j0t7vrtr92dk.cloudfront.net/monoceptlearn/1618560985_monocept-logo-orange.png?"></header>

<!DOCTYPE html>
<html lang="en">


<head>
    <title>Employee</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body style="background-color:powderblue;">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li><a routerLink="/employee">Home</a></li>
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Services
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a routerLink="/customerList">Customer List</a></li>
                        <li><a routerLink="/registerCustomer">Register</a></li>
                        <li><a routerLink="/updateEProfile">Update Profile</a></li>
                    </ul>
            </ul>
        </div>
    </nav>
<div class="container">
    <form #editData="ngForm" (ngSubmit)="editEmployeeHandler(editData.value)">

        <div class="form-group"> <label>ID: </label>
            <input readonly="readonly" class="form-control" name="id" [(ngModel)]="employee.employeeId">
        </div>
        <div class="form-group"> <label>Name: </label>
            <input readonly="readonly" class="form-control" name="name" [(ngModel)]="employee.employeeName">
        </div>
        <div class="form-group"> <label>Email: </label>
            <input type="text" class="form-control" name="email" [(ngModel)]="employee.employeeEmail">
        </div>
        <div class="form-group"> <label>Phone: </label>
            <input type="text" class="form-control" name="phone" [(ngModel)]="employee.employeePhone">
        </div>
        <div class="form-group"> <label>Address: </label>
            <input type="text" class="form-control" name="address" [(ngModel)]="employee.employeeAddress">
        </div>
        <button class="btn btn-primary">Update</button>
    </form>
</div>
<footer>
    <div>© Copyright Monocept- 2021 | All Rights Reserved </div>
</footer>

</body>
</html>