<header><img src="https://d3j0t7vrtr92dk.cloudfront.net/monoceptlearn/1618560985_monocept-logo-orange.png?"></header>
<div class="container">
    <button> <a style="margin: 10px; font-size: large;" routerLink="/customerList"> Back</a></button><br>
    <h2>change account status</h2>
    <form #postData="ngForm" (ngSubmit)="changeAccountStatusHandler(postData.value)">
        <br>
        <input type="radio" name="statusType" ngModel value="inactive">
          <label>Inactive</label><br>
          <input type="radio" name="statusType" ngModel value="active">
          <label>Active</label><br>
        <input type="radio" name="statusType" ngModel value="Locked">
          <label>Lock</label><br>


        <button class="btn btn-primary">Change Status</button>
    </form>
</div>
<footer>
    <div>© Copyright Monocept- 2021 | All Rights Reserved </div>
</footer>