<p>update-customer-profile works!</p>
<p>customer-edit-customer works!</p>

<h1>Change data</h1>
<!-- <form #editData="ngForm" (ngSubmit)="editCustomerHandler(editData.value)">

    <div class="form-group"> <label>ID: </label>
        <input readonly="readonly" class="form-control" name="id" [(ngModel)]="customer.customerId">
    </div>
    <div class="form-group"> <label>Name: </label>
        <input readonly="readonly" class="form-control" name="name" [(ngModel)]="customer.customerName">
    </div>
    <div class="form-group"> <label>Email: </label>
        <input type="text" class="form-control" name="email" [(ngModel)]="customer.customerEmail">
    </div>
    <div class="form-group"> <label>Phone: </label>
        <input type="text" class="form-control" name="phone" [(ngModel)]="customer.customerPhone">
    </div>
    <button class="btn btn-primary">Update</button>
</form> -->