<header ><img src="https://d3j0t7vrtr92dk.cloudfront.net/monoceptlearn/1618560985_monocept-logo-orange.png?"></header>
<hr>
<button><a routerLink="/customer">Back</a></button>
<div class="container">
  <div>
    <h3>Get data</h3>
    <form #postData="ngForm" (ngSubmit)="getCustomerSummaryHandler(postData.value)">
      Id : <input type="number" name="id" ngModel><br><br>
      <button class="btn btn-primary">Get summary</button>
    </form>
  </div>

  <div class="container">
    <hr>
    <table class="table table-striped">

      <tr>

        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Phone</th>
        <th>username</th>

      </tr>

      <tbody>
        <tr>
          <td>{{customer.customerName}}</td>
          <td>{{customer.customerEmail}}</td>
          <td>{{customer.customerAddress}}</td>
          <td>{{customer.customerPhone}}</td>
          <td>{{customer.customerUserName}}</td>

        </tr>
      </tbody>
    </table>

  </div>
</div>
<footer>
  <div>© Copyright Monocept- 2021 | All Rights Reserved </div>
</footer>