<p>customer-summary works!</p>
<div class="jumbotron">>
  <div>
    <h1>Get data</h1>
    <form #postData="ngForm" (ngSubmit)="getCustomerSummaryHandler(postData.value)">
      Id : <input type="number" name="id" ngModel><br>
      <button class="btn btn-primary">Get summary</button>
    </form>
  </div>

  <div class="container">
    <hr>
    <table class="table table-striped">

      <tr>

        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Phone</th>
        <th>username</th>

      </tr>

      <tbody>
        <tr>
          <td>{{customer.customerName}}</td>
          <td>{{customer.customerEmail}}</td>
          <td>{{customer.customerAddress}}</td>
          <td>{{customer.customerPhone}}</td>
          <td>{{customer.customerUserName}}</td>

        </tr>
      </tbody>
    </table>

  </div>
</div>