<header><img src="https://d3j0t7vrtr92dk.cloudfront.net/monoceptlearn/1618560985_monocept-logo-orange.png?"></header>
<div class="container">
    <hr>

    <button> <a style="margin: 10px; font-size: large;" routerLink="/employee"> Back</a></button><br><br>
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Phone</th>
            <th>username</th>
            <!-- <th>Balance</th> -->

        </tr>

        <tbody>
            <tr *ngFor="let customer of customers">
                <td>{{customer.customerName}}</td>
                <td>{{customer.customerEmail}}</td>
                <td>{{customer.customerAddress}}</td>
                <td>{{customer.customerPhone}}</td>
                <td>{{customer.customerUserName}}</td>
                <!-- <td>{{customer.account.accountBalance}}</td> -->



                <button class="btn btn-info" style="margin-left: 10px;"><a
                        [routerLink]="['/customerTransaction',customer.customerId]">Transaction</a></button>
                <button class="btn btn-info" style="margin-left: 10px;"><a
                        [routerLink]="['/changeAccountStatus',customer.customerId]">chnage Status</a></button>

            </tr>
        </tbody>
    </table>

</div>
<footer>
    <div>© Copyright Monocept- 2021 | All Rights Reserved </div>
</footer>