<header><img src="https://d3j0t7vrtr92dk.cloudfront.net/monoceptlearn/1618560985_monocept-logo-orange.png?"></header>
<!-- <p>{{payees[1].payeeName}}</p> -->
<html>

<head>

</head>
<style>
    tr:nth-child(even),
    table.list thead>tr {
        background-color: #dddddd;
    }

    h2 {
        text-align: center;
    }
</style>

<body>
    <button><a routerLink="/customer">Back</a></button>
    <div class="container">
        <h2> Payees</h2>
        <hr>
        <table class="table table-hover">

            <tr>
                <th>Account Number</th>
                <th>Name</th>
                <th>transfer</th>
            </tr>

            <tbody>
                <tr *ngFor="let payee of payees">

                    <td>{{payee.payeeAccountNumber}}</td>
                    <td>{{payee.payeeName}}</td>
                    <td><button class="btn btn-info" style="margin-left: 10px;"> <a
                                [routerLink]="['/sendToPayee',payee.payeeId]">Transfer fund</a>
                        </button></td>

                </tr>
            </tbody>
        </table>


    </div>
    <footer id="footer">
        <div>© Copyright Monocept- 2021 | All Rights Reserved </div>
    </footer>
</body>


</html>